/*
 * @Description: 
 * @Author: wyb
 * @LastEditors: wyb
 * @LastEditTime: 2025-06-03 15:12:59
 */
@use 'github-markdown-css/github-markdown.css';
@use 'highlight.js/styles/github.min.css';

* {
  padding: 0;
  margin: 0;
}

html,
body,
#app {
  height: 100%;
}
